.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  background-color: hsl(210, 46%, 95%);
}

.card {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}

.tittle-style {
  color: hsl(217, 19%, 35%);
  margin-left: 5%;
}

.p-style {
  color: hsl(214, 17%, 51%);
  font-size: 13px;
  margin-left: 5%;
  margin-right: 15%;
}

.span-tittle{
  font-size: 15px;
  margin-left: 10px;
}

.avatar-style{
  margin-left: 5%;
}